@charset "utf-8";
/* CSS Document */

body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    margin: 0px auto;
    height: 0px auto;
    width: 1366px;
    max-width: 100%;
    min-width: 50%;
}

/*************************************************************************************************/
/*******************************Conteiner********************************************************/
/************************************************************************************************/

.container { /* Total da página */
    width: 1366px;
    height: auto; /* alterar no fim*/
    margin: 0px auto;
}

/*************************************************************************************************/
/*******************************Topo********************************************************/
/************************************************************************************************/

.topo {
    background-color: #FFF;
    width: 1360px;
    height: 165px;
}


.banner {
    width: 300px;
    float: left;
}

.anuncio {
    width: 1045px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

    .anuncio img {
        width: 1045px;
        height: 100px;
    }

.topo form {
    margin-top: 14px;
    margin-right: 50px;
    float: right;
}



/*************************************************************************************************/
/*******************************Nav********************************************************/
/************************************************************************************************/
.menu {
    height: 40px; /*altura do centro*/
    width: 1366px;
    background-color: #004fa7; /* cor de fundo*/
    margin: 0px auto;
    color: #FFF;
}


.nav {
    width: 1366px;
    height: 40px;
}

    /******************************UL MENU***************************************/

    .nav ul {
        list-style-type: none; /* retira os marcadores da lista  das fonts*/
        margin: 22px; /* desloca as fonts para o top ou down*/
        float: left;
    }

        .nav ul li {
            margin: -12px; /* desloca as fonts*/
            float: left;
        }

            .nav ul li a {
                display: inline;
                padding: 0px 30px; /* distancia das letras*/
                background-color: #004fa7; /*cor da fonte externo*/
                text-decoration: none;
                margin-left: 50px;
                font-size: 30px; /* tamanho da font*/
                color: #FFF; /*cor da letra*/
                font-family: Calibri Light; /*estilo da letra*/
            }

                .nav ul li a:hover { /*da um stilo de sombra ao passar o mouse sobre o botão*/
                    text-decoration: initial;
                    background-color: #FFF; /* fundo*/
                    color: #000; /* ao passar o mouse */
                }





/******************************Conteudo***************************************/

.conteudo {
    margin-top: 20px;
    height: 830px;
    width: 1366px;
    background-color: #f8f5f5;
    font-size: 16px;
    
}

 
/*
.grupo1 {
    width: 525px;
    height: 830px;
    float: left;
    
}

.pt1 figure {
    float: left;
    width:525px;
    height:253px;
    margin:0px;
}

.pt1 img {
    float: left;
    width:525px;
    height:253px;
   
}

.pt2 figure {
    float: left;
    width: 347px;
    height:200px;
    margin:0px;
}


.pt2 img {
    float: left;
    width: 347px;
    height:200px;
   
}

.pt2 span {
    font-size: 25px;
    text-decoration: none;
    margin-bottom: -15px;
}

    .pt2 span a {
        text-decoration: none;
    }

.grupo2 {
    width: 525px;
    height: 830px;
    float: left;
    margin-left: 35px;
     
}

.pt3 figure iframe {
    margin-left: -40px;
}

.pt4 figure  {
    float:left;
    width: 525px;
    height: 195px;
    margin: 0px;
   
}


.pt4 figure img {
    width: 525px;
    height: 195px;
}

.lateral {
    width: 235px;
    height: 830px;
    border: #000 dashed;
    float: left;
    margin-left: 30px;
}
*/


.conteudo {
    margin-top: 20px;
    height: 1050px;
    width: 1366px;
    background-color: #f8f5f5;
    font-size: 16px;
}


.grupo1 {
    width: 1085px;
    height: 1030px;
    float: left;
}

.parte1 {
    width: 1085px;
    height: 610px;
    float: left;
}



.parte2 {
    margin-top: 10px;
    width: 1085px;
    height: 400px;
    float: left;
}

.metade1 {
    width: 535px;
    height: 400px;
    float: left;
}

.metade1 h4 {
   margin-left: 10px;
}
    .metade1 article {
        width: 535px;
        height: 400px;
    }

        .metade1 article ul {
            margin-top: 20px;
            margin-left: 50px;
            float: left;
        }


    .metade1 figure {
        width: 500px;
        height: 250px;
        margin: 0px;
    }

        .metade1 figure img {
            width: 500px;
            height: 250px;
            margin: 0px;
        }


.metade2 {
    margin-left: 15px;
    width: 535px;
    height: 400px;
    float: left;
}


    .metade2 article {
        width: 535px;
        height: 400px;
    }

    .metade2 figure {
        width: 530px;
        height: 200px;
        margin: 0px;
    }

        .metade2 figure img {
            width: 530px;
            height: 200px;
            margin: 0px;
        }


.lateral {
    width: 235px;
    height: 1030px;
    border: #000 dashed;
    float: left;
    margin-left: 30px;
}



   


/******************************patrocinador***************************************/
.patrocinador {
    border: #004fa7 solid;
    height: 200px;
	width: 0px auto;
}



/******************************rodape***************************************/
.rodape {
    margin: 0px 0px 0px 0px;
    width: 1366px;
    height: 50px;
    background-color: #004fa7;
}


    .rodape p {
        color: #FFF;
        padding: 15px 0px 0px 0px;
        text-align: center;
    }
